* {
    box-sizing: border-box;
}

html {
    background: #fff;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
}
.container {
	width: 50%;
    padding: 2rem;
    margin: 6rem auto 0;
    max-width: 1000px;
    text-align: center;
}
.logo {
    margin: 0 auto 3rem;
}
.text {
	font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.text.error {
	color: #C43336;
}
.subtext {
    margin-top: 0.5rem;
    font-size: 1.25rem;
	color: #888;
    font-weight: 300;
}
.small {
    font-size: 1rem;
}

a,
a:visited {
    color: #2C8EDD;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: #2C8EDD;
    text-decoration: underline;
}

@media only screen and (max-width: 800px){
    .container {
        width: 100%;
        padding: 1rem;
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 400px) {
    .logo {
        margin: 0 auto 3rem;
    }
    .container {
        width: 100%;
        padding: 1rem;
        margin-top: 0;
    }
    .text {
        margin-bottom: 1.5rem;
    }
}
